@model IEnumerable<QuanLyKhoaHoc.Models.dmLoaiDuToan>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã dự toán
        </th>
        <th>
            Loại dự toán
        </th>
        <th>
            Kinh phí nhà nước
        </th>
        <th>
            Kinh phí cấp bộ
        </th>
        <th>
            Kinh phí cấp cơ sở
        </th>
        <th width="150" style="text-align:center">Hành động</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ma_du_toan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loai_du_toan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kinh_phi_cap_nha_nuoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kinh_phi_cap_bo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kinh_phi_cap_co_so)
        </td>
        <td width="150" style="text-align:center;">

            <a href="javascript:void(0)" style="color:blue; margin-right:20px;" data-toggle="tooltip" title='Sửa' onclick="alter('Sửa')"> <i class="glyphicon glyphicon-pencil"></i></a>  @*></a>*@

            <a href="javascript:void(0)" style="color:red" data-toggle="tooltip" title='Xóa' onclick="alter('Xóa')"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
    </tr>
}

</table>
