@model IEnumerable<QuanLyKhoaHoc.Models.khThangDiemChiTiet>

<div class="row" id="divChiTiet" style=" padding-left:15px; padding-right:15px;">
    <table class="table" width="500">
        <tr style="background-color:#87CEFA;">
            <th width="200">
                Tiêu chuẩn đánh giá
            </th>
            <th width="100">
                Điểm
            </th>
            <th width="150" style="text-align:center;">Hành động</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td width="200">
                    @Html.DisplayFor(modelItem => item.Tieu_chuan_danh_gia)
                </td>
                <td width="100">
                    @Html.DisplayFor(modelItem => item.Diem)
                </td>
                <td width="150" style="text-align:center;">

                    <a href="javascript:void(0)" style="color:blue; margin-right:20px;" data-toggle="tooltip" title='Sửa' onclick="UpdateCTBD('@item.ID_tc_dg','@item.Tieu_chuan_danh_gia','@item.Diem')"> <i class="glyphicon glyphicon-pencil"></i></a>  @*></a>*@

                    <a href="javascript:void(0)" style="color:red" data-toggle="tooltip" title='Xóa' onclick="alert('Xóa')"><i class="glyphicon glyphicon-remove"></i></a>
                </td>
            </tr>
        }

    </table>
</div>